.flotl{
    display:block;
}
h1{
    text-align: center;
    color: #444;
    display: block;
    font-size: 3em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
